@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}
body{
    background: hsl(212, 45%, 89%) !important;
}

.tamaño{
    width: 90% !important;
}

.texto{
    font-size: 1.4em;
    font-weight: 700;
}